.section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15rem;
}

.wrapper {
	width: 55%;
	background-color: thistle;
	display: block;
	padding: 3rem;
}

.welcome_message {
	color: rgb(80, 43, 80);
}

.input,
.btn,
.text {
	/* font-size: 1.5rem; */
	color: rgb(80, 43, 80);
}

.text {
	margin: 0.5rem;
}
.input {
	width: 13rem;
}

.h3 {
	font-size: 1.1rem;
}
