html {
	font-size: 16px;
}
body {
	display: block;
	padding: 130px 10px;
}
.time__day {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(226, 224, 224);
	padding: 55px;
}

.btn,
.output_message {
	border: 1px dotted brown;
	background: lightgray;
	color: brown;
	font-size: 20px;
	padding: 12px 25px;
}

.output_message {
	margin-bottom: 5px;
}

.btn {
	padding: 12px 47px;
}
